<h1>Eat-Da-Burger!</h1>

<div class="burger-container">
    <div id="ready">
        <h2>Burgers Ready to Eat!</h2>

        <div>
        {{#each burgers}}
            {{#unless devoured}}
            {{> burgers/burger-block}}
            {{/unless}}
        {{/each}}
        </div>
    </div>
    <div style="width: 50%; float: right; text-align: center;">
        <h2>Burgers Devoured!</h2>

        <div>
        {{#each burgers}}
            {{#if devoured}}
            {{> burgers/burger-block}}
            {{/if}}
        {{/each}}
        </div>
    </div>
</div>

<div style="clear: both; text-align: center;">
    <h2>Order a Burger</h2>
    <form class="create-form">

    <div class="form-group">
        <label for="burger">Burger Name:</label>
        <input type="text" id="burger" name="name">
    </div>

    <button type="submit" style="margin-top: 10px;">Add Burger</button>
    </form>
</div>